<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clj.panda.mapper.test.TestStudentMapper">
    <resultMap type="TestStudent" id="StudentRM">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="remark" property="remark"/>
        <result column="creationTime" property="creationTime"/>
    </resultMap>

    <insert id="insertStudent" parameterType="TestStudent">
        INSERT INTO test_student(id,name,age,remark,creationTime)
        VALUES(#{id,#{name},#{age},#{remark},#{creationTime})
    </insert>

    <select id="selectStudentById" resultMap="StudentRM">
        SELECT * FROM test_student WHERE id=#{id}
    </select>

    <select id="selectStudentByNameAndAge" resultMap="StudentRM">
        SELECT * FROM test_student WHERE name=#{0} and age=#{1}
    </select>

    <select id="selectStudentByAge" resultMap="StudentRM">
        SELECT * FROM test_student WHERE age=#{age}
    </select>

    <delete id="deleteStudentById">
        DELETE FROM test_student WHERE id=#{id}
    </delete>

    <update id="updateAgeStudentById">
        UPDATE test_student SET age=#{age,jdbcType=INTEGER} WHERE id=#{id,jdbcType=VARCHAR}
    </update>
</mapper>